[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=image-png
MimeType=image/png;
Actions=zopflipng;


[Desktop Action zopflipng]
Name=Compress with ZopfliPNG
Name[nl]=Comprimeren met ZopfliPNG
Name[ru]=Сжать с помощью ZopfliPNG
Icon=image-png
Exec=(d="$(dirname "%f")" && z="$(zopflipng -y "%f" "%f")"; (kdialog --title "Optimize %f" --msgbox "<pre>$(echo "$z" | sed "s*${d}/**")</pre>" || true))
